* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #9b9b9b;
  font-family: "Archivo Black", sans-serif;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
}

.gradient-text {
  position: relative;
  /* Fallback: Set a background color. */
  background-color: #5b42f3;

  /* Create the gradient. */
  background-image: linear-gradient(to right, #8ec5fc, #e0c3fc);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}
.ol-full-screen {
  top: 0.5em;
  right: 0.5em;
}

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #8ec5fc, #e0c3fc);
  font-family: "Archivo Black", sans-serif;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.answers {
  margin: 20px 0;
  place-items: stretch;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.answer {
  align-items: center;
  display: flex;
  text-align: center;
  min-height: 5px;
  min-width: 150px;
  border: 1px solid #fcc58e;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.qr-code {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 70px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
  border-color: black;
  border-width: 2px;
  padding: 10px;
  height: 70px;
  object-fit: contain;
  transition: width 0.3s, height 0.3s; /* Transition effect */
}

.qr-code-large {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
  border-color: black;
  position: absolute;
  transition: width 0.3s, height 0.3s; /* Transition effect */
  width: 200px; /* Larger width */
  height: 200px; /* Larger height */
}

.container {
  min-width: 767px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}

.container-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  /* border-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border-image-slice: 1; */
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
/* Styling for the outer container */
.outer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the map */
.ol-map {
  margin: 20px 0;
  /* min-width: 400px; */
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  /* Add any additional styles for the map here */
}

/* Styling for the lower card */
.lower-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

/* Styling for the form group */
.form__group {
  margin-bottom: 15px; /* Adjust the margin as needed */
}

/* Styling for the form field */
.form__field {
  width: 100%; /* Adjust the width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Styling for the input button */
.btn {
  margin: 20px 0;
  width: 120px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  background-color: #fcc58e; /* Adjust the background color as needed */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e2b17f; /* Adjust the hover background color as needed */
}

/* Responsive styles for mobile devices */
@media (max-width: 767px) {
  .container {
    min-width: 0px;
    width: 100%;
  }

  .container-small {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    width: 100%;
  }
  /* Adjust the max-width as needed for your specific layout */
  /* Styling for the map */
  .ol-map {
    min-width: 0px;
    width: 100%;
    height: 300px; /* Adjust the height as needed for mobile */
  }

  .form__group {
    width: 100%;
  }
  /* Styling for the form field */
  .form__field {
    width: 100%; /* Adjust the width as needed for mobile */
  }

  /* Styling for the input button */
  .btn {
    width: 100%; /* Adjust the width as needed for mobile */
  }
}
